 
.Subscribtion {
    text-align: center;
    padding: 10px;
    padding-top: 12rem;

    .headingText {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        color: rgb(49, 49, 49);
    }

    .priceTag {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 170px;
        margin: auto;
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .breifInfo {
        font-size: 16px;
    }

    .subButn {
        padding: 12px 62px 16px 62px;
        gap: 10px;

        width: 207px;
        height: 46px;

        background: #3f51b5 !important;
        border-radius: 25px;

        /* Inside auto layout */
        color: white;
        margin: auto;
        margin-top: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px; 

    }
}