 :root {
   --primary: #3f51b5
 }

 body {
   margin: 0;
   font-family: sans-serif !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #fff !important;
 }

 * {
   font-family: Arial !important;
 }

 //  Layouts 
 @import './layouts/header.scss';
 @import './layouts/footer.scss';

 //  utils 
 @import './utils/fonts.scss';

 //  components 
 @import './components/splashScreen.scss';
 @import './components/inputs.scss';
 @import './components/loader.scss';
 @import './components/weekLists.scss';

 // pages
 @import './pages/devotional.scss';
 @import './pages/contactUs.scss';
 @import './pages/manual.scss';
 @import './pages/auth.scss';
 @import './pages/profile.scss';
 @import './pages/subscribe.scss';
 @import './pages/tip.scss';


 .bg-nav {
   background-color: #fff !important;
   color: rgb(63, 63, 63) !important;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 a {
   text-decoration: none !important;
   color: #3f51b5 !important;
 }

 .circle {
   width: 25px !important;
   height: 25px !important
 }

 .MuiCardContent-root:last-child {
   padding-bottom: 0 !important;
 }

 .MuiCardContent-root {
   padding-right: 6px !important;
   padding-left: 6px !important;
 }

 .MuiTypography-caption {
   letter-spacing: 0 !important;
 }

 .makeStyles-root-104 {
   display: flex !important;
   margin-top: 8px !important;
   align-content: center !important;
   justify-content: space-evenly !important;
 }

 .cradLink:hover {
   div {
     background-color: rgb(243, 241, 241) !important;
   }
 }

 .MuiTypography-button {
   font-size: 0.75rem !important;
   line-height: 0.6px !important;
   letter-spacing: 0.02857em !important;
   font-weight: 600 !important;
 }

 .mt-43 {
   padding-top: 20px !important;
   color: #000000CC;
 }

 .text-blue {
   color: #1E5A85 !important;
 }

 .text-primary {
   color: #3f51b5 !important;
 }

 .addFav,
 .removeFav {
   position: absolute;
   right: 7px;
   font-size: 35px !important;
   margin-top: -55px;
 }




 .notfound {
   width: 200px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   filter: drop-shadow(2px 4px 8px #b3b2b2f5);
   -webkit-filter: drop-shadow(2px 4px 8px #b3b2b2f5);
   margin-bottom: 5px;
 }

 .notfoundDiv {
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   align-self: center;
   height: 85vh;
 }

 .MuiBottomNavigationAction-root.Mui-selected {
   height: 60px;
 }


 .date-box {
   font-family: "consolas" !important;
   font-weight: bold;
 }

 //  .text-content{
 //   font-family: monospace
 //  }





 .MuiAvatar-colorDefault {
   background: var(--primary) !important;
 }

 /* Remove text selection styles */
 ::selection {
   background-color: transparent;
   color: inherit;
 }

 /* Remove selection styles for Firefox */
 ::-moz-selection {
   background-color: transparent;
   color: inherit;
 }