 :root {
   --primary: #3f51b5
 }

 //  components
 @import './components/weekLists.scss';
 // pages
 @import './devotional.scss';
 @import './manual.scss';
 @import './auth.scss';
 @import './profile.scss';
 @import './subscribe.scss';
 @import './tip.scss';



 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #fff !important;

 }

 .bg-nav {
   background-color: #fff !important;
   color: rgb(63, 63, 63) !important;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 a {
   text-decoration: none !important;
   color: #3f51b5 !important;
 }

 .circle {
   width: 25px !important;
   height: 25px !important
 }

 .MuiCardContent-root:last-child {
   padding-bottom: 0 !important;
 }

 .MuiCardContent-root {
   padding-right: 6px !important;
   padding-left: 6px !important;
 }

 .MuiTypography-caption {

   letter-spacing: 0 !important;
 }

 .makeStyles-root-104 {
   display: flex !important;
   margin-top: 8px !important;
   align-content: center !important;
   justify-content: space-evenly !important;
 }

 .cradLink:hover {
   div {
     background-color: rgb(243, 241, 241) !important;
   }
 }

 .MuiTypography-button {
   font-size: 0.75rem !important;
   line-height: 0.6px !important;
   letter-spacing: 0.02857em !important;
   font-weight: 600 !important;
 }

 .mt-43 {
   padding-top: 20px !important;
   color: #000000CC;
 }

 .text-blue {
   color: #1E5A85 !important;
 }

 .text-primary {
   color: #3f51b5 !important;
 }

 .addFav,
 .removeFav {
   position: absolute;
   right: 7px;
   font-size: 35px !important;
   margin-top: -55px;
 }

 .dateText {
   font-family: 'Redressed', cursive !important;
   font-size: x-small !important;
 }

 .topicText {
   font-family: 'Redressed' !important;
   color: #171f50 !important
 }

 .notfound {
   width: 200px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   filter: drop-shadow(2px 4px 8px #b3b2b2f5);
   -webkit-filter: drop-shadow(2px 4px 8px #b3b2b2f5);
   margin-bottom: 5px;
 }

 .notfoundDiv {
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   align-self: center;
   height: 85vh;
 }

 .MuiBottomNavigationAction-root.Mui-selected {
   height: 60px;
 }


 .date-box {
   font-family: "consolas" !important;
   font-weight: bold;
 }

 //  .text-content{
 //   font-family: monospace
 //  }

 .splashScreen {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   text-align: center;
   text-transform: uppercase;
   color: #3f51b5;

   .SplashHeadText {
     margin: 28px 0;
   }

   img {
     width: 80px;

   }

   h2 {
     font-size: 22px;
     font-weight: bold;
     color: #e06512;
     font-family: 'Redressed', cursive !important;
   }

   h3 {
     font-size: 14px;
     font-weight: bold;
   }

   h6 {
     font-size: 10px;
     font-weight: bold;
     font-style: italic;
     font-family: consolas;
   }

   span {
     background: var(--primary);
     color: #fff;
     padding: 4px 8px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
   }

   .finalText {
     color: #9f5a2d;
     font-weight: 800;
   }

   .devText {
     font-weight: 800;
   }
 }

 .contactUs {
   margin-top: 24px;
   text-align: center;

   a {
     color: rgb(53, 52, 52) !important;
     margin: 0 10px;
     text-decoration: underline;
   }
 }

 .MuiAvatar-colorDefault {
   background: var(--primary) !important;
 }