.header_profile {
    display: flex;
    flex-direction: row;
    align-items: center;


    .userName {
        // position: absolute !important;
        margin-left: 10px;
    }

}

.signout {
    background-color: white !important;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-top: 12px;

    &:hover {
        background-color: whitesmoke !important;
    }

}

.setting_items {
    background: #fff;
}