.devotional_header {
    // background: #1a1a1a;
    background: #3f51b5 !important; 
    color: #e4e3e3;
    padding: 55px 4px 30px 4px;

    .topic {
    font-family: 'Bungee Shade', cursive;
    }

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;


}
 
.text-letter{
    font-family: 'Redressed', cursive;
}
 
.text {
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #e4e3e3;
    flex: none;
    order: 0;
    flex-grow: 0;
   font-family: 'Rubik Moonrocks', cursive;
   word-spacing: 10px;

}

.introduction,.text_prayer {
    line-height: 25px; 
    font-style: bold;  
    font-size:16px;
}
.date-box{
    font-family: 'Rubik Moonrocks', cursive;
    width: 200px;
    background:white;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: x-small;
     
}