body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#F2F4F5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration:none !important;
}

.circle{
    width: 25px !important;
    height: 25px !important
 
}
.MuiCardContent-root:last-child {
     padding-bottom: 0 !important; 
}
.MuiCardContent-root { 
    padding-right: 6px !important; 
    padding-left: 6px  !important;
}
.MuiTypography-caption {
   
    letter-spacing:0!important; 
}
.makeStyles-root-104 {
    display: flex !important;
    margin-top: 8px !important;
    align-content: center !important;
    justify-content: space-evenly !important;
}
.cradLink:hover{
  div{
    background-color:rgb(243, 241, 241)  !important;
  }
}
.MuiTypography-button {
  font-size: 0.75rem !important; 
   line-height: 0.6px !important;  
   letter-spacing: 0.02857em !important;
   font-weight: 600 !important; 
}